@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
}

html,
body {
  background: linear-gradient(to right, #141e30, #2a425e);
}

::selection {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.bg-gradient {
  background: linear-gradient(to right, #141e30, #2a425e);
}

.box-shadow {
  box-shadow: 5px 15px 10px 0 rgba(0, 0, 0, 0.1);
}

.nav li:hover {
  text-shadow: 0px -5px 6px rgb(0, 0, 0);
}

.landingPage-img {
  box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.322);
}

.techstack {
  background: linear-gradient(to right, #000000, #1c2e42);
}
.lamp-light {
  box-shadow: 100px 20px 110px 60px rgba(180, 207, 108, 0.2);
}

.project_img {
  box-shadow: 0px 0px 30px 20px rgba(47, 114, 186, 0.2);
}

.contact {
  background: rgb(0, 0, 0);
}

.icon {
  box-shadow: 0px 0px 10px 10px rgba(47, 114, 186, 0.2);
}

.btn-shadow:hover {
  box-shadow: 0px 0px 10px 10px rgba(47, 114, 186, 0.2);
  transition: ease-in-out all 0.3s;
}

/* Glow effect */
.glowie-div {
  box-shadow: 0 0 10px #93c5fd, 0 0 10px #93c5fd, 0 0 10px #93c5fd,
    0 0 10px #93c5fd, 0 0 10px #93c5fd, 0 0 10px #93c5fd, 0 0 10px #93c5fd,
    0 0 10px #93c5fd;
}

.welcome-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  font-size: 2rem;
}
